<div class="login-container">
	<h1><b>CODERStore</b></h1>
	<h2><b>Olvidaste tu contraseña?</b></h2>

	<form action="/api/users/request-reset-password" method="post" class="form-container">

		<div class="form-group">
			<label for="email"><i class="fas fa-envelope"></i> Email</label>
			<input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required" autocomplete="email" />
		</div>

		<button type="submit" class="btn btn-success btn-100">Enviar</button>

		{{#if showError}}
			<div class="alert alert-danger" role="alert" style="margin-top: 16px;">
				{{errorMessage}}
			</div>
		{{/if}}

		<div class="form-group">
			Ya tenés cuenta?:
			<a class="a2" href="/login">Ingresá</a>
		</div>
	</form>
</div>