<div class="login-container">
	<h1><b>CODERStore</b></h1>
	<h2><b>Restablece tu contraseña</b></h2>

	<form action="/api/users/reset-password" method="post" class="form-container">

		<!-- Incluye el token en el formulario como un campo oculto -->
		<input type="hidden" name="token" value="{{token}}" />

		<div class="form-group">
			<label for="password"><i class="fas fa-lock"></i> Nueva Contraseña</label>
			<input type="password" name="password" id="password" class="form-control" required="required" autocomplete="new-password" />
		</div>

		<button type="submit" class="btn btn-success btn-100">Modificar contraseña</button>

		{{#if showError}}
			<div class="alert alert-danger" role="alert" style="margin-top: 16px;">
				{{errorMessage}}
			</div>
		{{/if}}

		<div class="form-group">
			Ya tenés cuenta?:
			<a class="a2" href="/login">Ingresá</a>
		</div>
	</form>
</div>